:root {
  --space-cadet: #392f5a;
  --middle-blue-green: #9dd9d2;
  --floral-white: #fff8f0;
  --darker-floral-white: #ffeedb;
  --orange-yellow-crayola: #f4d06f;
  --lighter-orange: #faebc1;
  --dark-orange: #ff8811;
  --light-green: #90ee90;
  --green: #65e765;
  --lighter-green: #e9fce9;
  --light-red: #ff7f7f;
  --red: #ff5757;
  --lighter-red: #fff0f0;
  --lighter-black-text: #4f4f4f;
  --light-black-text: #212121;
  --darker-white-text: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--lighter-orange);
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10rem auto;
  padding: 2rem;
  align-items: center;
  width: min-content;
  border-radius: 0.25rem;
  background-color: var(--floral-white);
  box-shadow: 0 0 2rem 0 rgba(255, 248, 240, 0.5);
}

.alertForAddList,
.alertForValueChanged,
.alertForEmptyList {
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
  padding: 0.1rem 0rem;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
}

.alertForAddList,
.alertForValueChanged {
  background-color: var(--lighter-green);
}

.alertForEmptyList {
  background-color: var(--lighter-red);
}

h1 {
  font-size: 2rem;
  color: var(--light-black-text);
  letter-spacing: 0.1rem;
}

form {
  display: flex;
  justify-content: center;
}

form input {
  padding: 0.15rem 1rem;
  font-size: 1rem;
  width: 30rem;
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  color: var(--lighter-black-text);
  background-color: var(--darker-floral-white);
}

form button {
  padding: 0 0.5rem;
  width: 5rem;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  background-color: var(--space-cadet);
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  color: var(--darker-white-text);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--light-black-text);
  margin-top: 1.75rem;
}

.groceryItem {
  display: flex;
  font-size: 1.1rem;
  padding: 0.25rem 2rem;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
}

.groceryItem:hover {
  background-color: var(--darker-floral-white);
  transition: background-color 0.5s;
}

span {
  font-size: 0.75rem;
  display: flex;
  gap: 1rem;
}

.editIcon {
  color: var(--light-green);
}

.editIcon:hover {
  color: var(--green);
  cursor: pointer;
}

.trashIcon {
  color: var(--light-red);
  cursor: pointer;
}

.trashIcon:hover {
  color: var(--red);
}

.clearItemsButton {
  border: none;
  background: none;
  font-size: 0.85rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  color: var(--light-red);
}

button:hover {
  cursor: pointer;
}
